<h2>New post</h2>

<%= render "form.html", changeset: @changeset,
                        action: user_post_path(@conn, :create, @conn.assigns[:user]) %>

<%= link "Back", to: user_post_path(@conn, :index, @conn.assigns[:user]) %>
